<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="said-header">
    <div class="groups"></div>
    </div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
      <div class="main-header"></div>
      <div class="messagea"></div>
      <div class="form"></div>
  </div>
</div>